<%- include ("en/partials/header") %>

<div id="featured">
<h2>Featured | مميز</h2>
<div>
    <div>
        <h3>English</h3>
        <% eduvents.forEach(function(eduvent) { %>
            <div class="edu-vent">
                <div class="featinit">
                    <% initiatives.forEach(function(initiative) { %>
                        <% if (initiative._id.toString() === eduvent.initiative) { %>
                            <div class="initiative" onclick="location.href='/initiatives/en/<%= initiative._id %>'" style="cursor: pointer;">
                                <img src="https://manage.edu-vents.com/uploads/<%= initiative.imgPath %>">
                                <%= initiative.name %>
                            </div>
                        <% } else { %>
                            <div></div>
                        <% } %>
                    <% }) %>
                    <div class="featured">featured</div>
                </div>
                <img alt="EDU-vent img" src="https://manage.edu-vents.com/uploads/<%= eduvent.imgPath %>">
                <div class="inner">
                    <% if (typeof eduvent.name !== "undefined") { %> <h2><%= eduvent.name %></h2> <% } %> 
                    <% if (typeof eduvent.description !== "undefined") { %> <p><%- eduvent.description.substring(0, 45) %>...</p> <% } %> 
                    <a href="/edu-vents/en/<%= eduvent._id %>" target="_blank">Learn more</a>
                </div>
            </div>
        <% }) %>
    </div>
    <div>
        <h3>العربية</h3>
        <% eduventsar.forEach(function(eduvent) { %>
            <div class="edu-vent">
                <div class="featinit">
                    <div dir="rtl" class="featured">مميز</div>
                    <% initiatives.forEach(function(initiative) { %>
                        <% if (eduvent.initiative === initiative._id.toString()) { %>
                            <div class="initiative" onclick="location.href='/initiatives/ar/<%= initiative._id %>'" style="cursor: pointer;">
                                <%= initiative.nameAr %>
                                <img src="https://manage.edu-vents.com/uploads/<%= initiative.imgPath %>">
                            </div>
                        <% } %>
                    <% }) %>
                </div>
                <img alt="EDU-vent img" src="https://manage.edu-vents.com/uploads/<%= eduvent.imgPath %>">
                <div class="inner">
                    <% if (typeof eduvent.name !== "undefined") { %> <h2 dir="rtl"><%= eduvent.name %></h2> <% } %> 
                    <% if (typeof eduvent.description !== "undefined") { %> <p dir="rtl"><%- eduvent.description.substring(0, 45) %>...</p> <% } %> 
                    <a dir="rtl" href="/edu-vents/ar/<%= eduvent._id %>" target="_blank">تعلم المزيد</a>
                </div>
            </div>
        <% }) %>
    </div>
</div>
</div>

<%- include ("en/partials/footer") %>