<%- include ("partials/header") %>

<div id="img-bg" class="wrapped">
    <div>
        <h2>Find Your Event.</h2>
        <p>EDU-vents is a website that offers educational events for aspiring youth. EDU-vents' main goal is to
            facilitate the readiness of young people who wish to study abroad by providing access to extracurricular
            activities that are occuring nearby</p>
        <a href="/edu-vents">Start!</a>
    </div>
</div>

<% if (initiatives.length > 0) { %>
    <div class="container">
        <% initiatives.forEach(function(initiative) { %>
            <div class="edu-vent">
                <img src="https://manage.edu-vents.com/uploads/<%= initiative.imgPath %>">
                <div class="inner">
                    <% if (typeof initiative.name !== "undefined") { %><h2><%= initiative.name %></h2><% } %>
                    <a href="initiatives/en/<%= initiative._id %>" target="_blank">Learn more</a>
                </div>
            </div>
        <% }) %>
    </div>
<% } %>

<% if (featured.length > 0) { %>
    <div class="container">
        <% featured.forEach(function(eduvent) { %>
            <div class="edu-vent">
                <div class="featinit">
                    <% initiatives.forEach(function(initiative) { %>
                        <% if (eduvent.initiative === initiative._id.toString()) { %>
                            <div class="initiative" onclick="location.href='/initiatives/en/<%= initiative._id %>'" style="cursor: pointer;">
                                <img src="https://manage.edu-vents.com/uploads/<%= initiative.imgPath %>">
                                <%= initiative.name %>
                            </div>
                        <% } %>
                    <% }) %>
                    <div class="featured">featured</div>
                </div>
                <img src="https://manage.edu-vents.com/uploads/<%= eduvent.imgPath %>">
                <div class="inner">
                    <% if (typeof eduvent.name !== "undefined") { %> <h2><%= eduvent.name %></h2> <% } %> 
                    <% if (typeof eduvent.description !== "undefined") { %> <p><%- eduvent.description.substring(0, 45) %>...</p> <% } %> 
                    <a href="/edu-vents/en/<%= eduvent._id %>" target="_blank">Learn more</a>
                </div>
            </div>
        <% }) %>
    </div>
<% } %>

<main>
    <div id="vision">
        <img src="/images/vision2030.png">
        <div>
            <img src="/images/vibrantsociety.svg">
            <h3>Vibrant Society</h3>
            <p>One of Saudi Arabia's 2030 vision themes is having a vibrant society with fulfilling lives. Since
                EDU-vents aids in the sharing of educational events, it will contribute to reaching this goal.</p>
        </div>
    </div>

    <div id="shapes">
        <span id="circle-top"></span>
        <span id="line"></span>
        <span id="circle-bottom"></span>
    </div>

    <div id="what">
        <div>
            <h3>EDU-vents</h3>
            <p>That is why we created EDU-vents. We would like to fulfill the lives of Saudi's youth to open up global
                opportunities for their account.</p>
        </div>
        <img src="/images/logo_blue.jpg">
    </div>

    <div id="benefit">
        <div>
            <span class="dotted"></span>
            <div class="section">
                <img src="/images/resume.png">
                <p>Search between hundreds of EDU-vents in different parts of Saudi Arabia</p>
            </div>
        </div>

        <div>
            <span class="dotted"></span>
            <div class="section">
                <img src="/images/tap.png">
                <p>Easy acces to all parts of the website with no registration or fee.</p>
            </div>
        </div>

        <div>
            <span class="dotted"></span>
            <div>
                <img src="/images/friendship.png">
                <p>Maintained by ambitious youngsters ready to take the next step</p>
            </div>
        </div>
    </div>
</main>

<style>
    #home {
        font-weight: bold;
    }
</style>

<script>
    $(".wrapped").wrapAll('<div id="wrapper"></div>');
</script>

<%- include ("partials/footer") %>