<%- include ("partials/header") %>

<main>
    <form id="search" action="/edu-vents" method="GET">
        <div class="centrer">
            <input type="text" name="query" placeholder="Search...">
            <select type="text" name="type">
                <% types.forEach(function(type) { %>
                    <option><%= type.en %></option>
                <% }) %>
            </select>
            <select name="location">
                <% locations.forEach(function(location) { %>
                    <option><%= location.en %> </option>
                <% }) %>
            </select>
            <button>Search</button>
        </div>
    </form>

    <% var counter = 1; %>

    <% featured.forEach(function(eduvent) { %>
    <% if (counter % 3 == 1) { %>
    <div class="row" style="display: flex;">
        <% } %>
        <div class="edu-vent">
            <div class="featured">featured</div>
            <img alt="EDU-vent img" src="https://manage.edu-vents.com/uploads/<%= eduvent.imgPath %>">
            <div class="inner">
                <% if (typeof eduvent.name !== "undefined") { %> <h2><%= eduvent.name %></h2> <% } %> 
                <% if (typeof eduvent.description !== "undefined") { %> <p><%- eduvent.description.substring(0, 45) %>...</p> <% } %> 
                <a href="/edu-vents/en/<%= eduvent._id %>" target="_blank">Learn more</a>
            </div>
        </div>
        <% if (counter %3 == 0) { %>
    </div>
    <% } %>
    <% counter++ %>
    <% }) %>


    <% notFeatured.forEach(function(eduvent) { %>
    <% if (counter % 3 == 1) { %>
    <div class="row" style="display: flex;">
        <% } %>
        <div class="edu-vent">
            <img alt="EDU-vent img" src="https://manage.edu-vents.com/uploads/<%= eduvent.imgPath %>">
            <div class="inner">
                <% if (typeof eduvent.name !== "undefined") { %> <h2><%= eduvent.name %></h2> <% } %> 
                <% if (typeof eduvent.description !== "undefined") { %> <p><%- eduvent.description.substring(0, 45) %>...</p> <% } %> 
                <a href="/edu-vents/en/<%= eduvent._id %>" target="_blank">Learn more</a>
            </div>
        </div>
        <% if (counter %3 == 0) { %>
    </div>
    <% } %>
    <% counter++ %>
    <% }) %>
</main>

<style>
    #edu-vents {
        font-weight: bold;
    }
</style>

<%- include ("partials/footer") %>