<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <% if (typeof initiative.name !== "undefined" && initiative.name !== "") { %> 
        <title>EDU-vents | <%= initiative.name %></title>
    <% } else { %> 
        <title>EDU-vents</title>
    <% } %> 

    <% if (typeof initiative.name !== "undefined" && typeof initiative.description !== "undefined" && initiative.name !== "" && initiative.description !== "") { %>
        <meta name="description" content="<%= initiative.name %> - <%= initiative.description %>">
    <% } else if (typeof initiative.description !== "undefined" && initiative.description !== "") { %>
        <meta name="description" content="<%= initiative.description %>">
    <% } else { %> 
        <meta name="description" content="EDU-vents - This website was created solely for the help of Philomaths. It would show the most important educational events happening around the world, providing an easy-to-use portal for them.">
    <% } %> 

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% if (typeof initiative.imgPath !== "undefined") { %>
        <link rel="icon" href="https://manage.edu-vents.com/uploads/<%= initiative.imgPath %>">
    <% } %> 

    <link rel="stylesheet" href="/stylesheets/en/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/scripts/jquery-3.4.1.min.js"></script>
    <style>
        body {
            height: 100vh;
            display: flex;
            flex-flow: column;
        }
    </style>
</head>

<body>
    <header class="wrapped">
        <h1 onclick="location.href='/'">
            <img alt="logo" src="/images/logo.png">
            <span>EDU-vents</span>
        </h1>

        <nav>
            <a href="/" id="home">Home</a>
            <a href="/edu-vents" id="edu-vents">EDU-vents</a>
        </nav>
        <button><img alt="burger" src="/images/burger.png"></button>
        <script>
            $("header button").on("click", function () {
                if ($("#collapse-div").is(':visible')) {
                    $("#collapse-div").slideUp(500);
                } else {
                    $("#collapse-div").slideDown(500);
                }
            });
        </script>
    </header>
    <div id="collapse-div" class="wrapped">
        <a href="/" id="home">Home</a>
        <a href="/edu-vents" id="edu-vents" style="margin: 2.5px auto;">EDU-vents</a>
    </div>

    <div class="view">
        
        <img src="https://manage.edu-vents.com/uploads/<%= initiative.imgPath %>">
        <div class="inner">

            <% if (typeof initiative.name !== "undefined" && initiative.name !== "") { %> 
                <h3><%= initiative.name %></h3>
                <br>
            <% } %> 

            <% if (typeof initiative.description !== "undefined" && initiative.description !== "") { %>
                <h4>Description</h4>
                <p><%- initiative.description %></p>
                <br>
            <% } %>
        </div>
        <% if (typeof initiative.url !== "undefined" && initiative.url !== "") { %> 
            <a class="attend" href="<%= initiative.url %>" target="_blank">Website</a>
        <% } %> 
    </div>

    <% if (eduvents.length > 0) { %>
    <div class="edu-vents">
        <% eduvents.forEach(function(eduvent) { %>
            <div>
                <img src="https://manage.edu-vents.com/uploads/<%= eduvent.imgPath %>">
                <h3><%= eduvent.name %></h3>
                <a href="/edu-vents/en/<%= eduvent._id %>">Learn More</a>
            </div>
        <% }) %>
    </div>
    <% } %>

    <footer>
        <h6 onclick="location.href = '/'">
            <img alt="lang" src="/images/worlwide.png">
            <span>English</span>
        </h6>
        <div>
            <a id="envelope" href="mailto:educational.vents@gmail.com" traget="_blank"><img alt="contact-us"
                    src="/images/envelope.png"></a>
            <a href="https://www.instagram.com/edu_vents/" traget="_blank"><img alt="instagram"
                    src="/images/instagram-logo.png"></a>
            <a href="https://twitter.com/edu_vents" traget="_blank"><img alt="twitter"
                    src="/images/twitter-logo.png"></a>
        </div>
    </footer>
</body>

</html>