<%- include ("partials/header") %>

<main>
    <form id="search" action="/ar/edu-vents" method="GET">
        <div class="centrer">
            <input dir="rtl" type="text" name="query" placeholder="بحث...">
            <select type="text" name="type">
                <% types.forEach(function(type) { %>
                    <option><%= type.ar %></option>
                <% }) %>
            </select>
            <select name="location">
                <% locations.forEach(function(location) { %>
                    <option><%= location.ar %> </option>
                <% }) %>
            </select>
            <button>بحث</button>
        </div>
    </form>

    <% var counter = 1; %>

    <% featured.forEach(function(eduvent) { %>
    <% if (counter % 3 == 1) { %>
        <div class="row" style="display: flex;">
    <% } %>
            <div class="edu-vent">
                <div dir="rtl" class="featured">مميز</div>
                <img alt="EDU-vent img" src="https://manage.edu-vents.com/uploads/<%= eduvent.imgPath %>">
                <div class="inner">
                    <% if (typeof eduvent.name !== "undefined") { %> <h2 dir="rtl"><%= eduvent.name %></h2> <% } %> 
                    <% if (typeof eduvent.description !== "undefined") { %> <p dir="rtl"><%- eduvent.description.substring(0, 45) %>...</p> <% } %> 
                    <a dir="rtl" href="/edu-vents/ar/<%= eduvent._id %>" target="_blank">تعلم المزيد</a>
                </div>
            </div>
    <% if (counter %3 == 0) { %>
        </div>
    <% } %>
    <% counter++ %>
    <% }) %>
    

    <% notFeatured.forEach(function(eduvent) { %>
        <% if (counter % 3 == 1) { %>
            <div class="row" style="display: flex;">
        <% } %>
                <div class="edu-vent">
                    <img alt="EDU-vent img" src="https://manage.edu-vents.com/uploads/<%= eduvent.imgPath %>">
                    <div class="inner">
                        <% if (typeof eduvent.name !== "undefined") { %> <h2 dir="rtl"><%= eduvent.name %></h2> <% } %> 
                        <% if (typeof eduvent.description !== "undefined") { %> <p dir="rtl"><%- eduvent.description.substring(0, 45) %>...</p> <% } %> 
                        <a dir="rtl" href="/edu-vents/ar/<%= eduvent._id %>" target="_blank">تعلم المزيد</a>
                    </div>
                </div>
        <% if (counter %3 == 0) { %>
            </div>
        <% } %>
        <% counter++ %>
        <% }) %>
</main>

    <style>
        #edu-vents {
            font-weight: bold;
        }
    </style>

<%- include ("partials/footer") %>