<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <% if (typeof initiative.name !== "undefined" && initiative.name !== "") { %> 
        <title dir="rtl">إديوفينتس | <%= initiative.nameAr %></title>
    <% } else { %> 
        <title dir="rtl">إديوفينتس</title>
    <% } %>

    <% if ((typeof initiative.nameAr !== "undefined" && initiative.nameAr !== "") && (typeof initiative.descriptionAr !== "undefined" && initiative.descriptionAr !== "")) { %>
        <meta dir="rtl" name="description" content="<%= initiative.nameAr %> - <%= initiative.descriptionAr %>">
    <% } else if (typeof initiative.descriptionAr !== "undefined" && initiative.descriptionAr !== "") { %>
        <meta dir="rtl" name="description" content="<%= initiative.descriptionAr %>">
    <% } else { %> 
        <meta dir="rtl" name="description" content=".إديو- فينتس - تمت صناعة الموقع خصيصا لمساعدة الفطاحلة. سوف يتم عرض اهم الاحداث التعليمية التي تحدث حول العالم وسوف يتم توفير واجهة موقع سهلة الاستخدام">
    <% } %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% if (typeof initiative.imgPath !== "undefined") { %>
        <link rel="icon" href="https://manage.edu-vents.com/uploads/<%= initiative.imgPath %>">
    <% } %> 

    <link rel="stylesheet" href="/stylesheets/ar/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/scripts/jquery-3.4.1.min.js"></script>
</head>

<body>
    <header class="wrapped">
        <button><img alt="burger" src="/images/burger.png"></button>

        <nav>
            <a dir="rtl" href="/ar" id="home">الرئيسية</a>
            <a dir="rtl" href="/ar/edu-vents" id="edu-vents">إديوفينتس</a>
        </nav>

        <h1 onclick="location.href='/'">
            <span dir="rtl">إديوفينتس</span>
            <img alt="logo" src="/images/logo.png">
        </h1>

        <script>
            $("header button").on("click", function () {
                if ($("#collapse-div").is(':visible')) {
                    $("#collapse-div").slideUp(500);
                } else {
                    $("#collapse-div").slideDown(500);
                }
            });
        </script>
    </header>
    <div id="collapse-div" class="wrapped">
        <a dir="rtl" href="/" id="home">الرئيسية</a>
        <a dir="rtl" href="/ar/edu-vents" id="edu-vents" style="margin: 2.5px auto;">إديوفينتس</a>
    </div>

    <div class="view">

        <img alt="EDU-vent img" src="https://manage.edu-vents.com/uploads/<%= initiative.imgPath %>">
        <div class="inner">

            <% if (typeof initiative.nameAr !== "undefined" && initiative.nameAr !== "") { %> 
                <h3 dir="rtl"><%= initiative.nameAr %></h3>
                <br>
                <br>
            <% } %>

            <% if (typeof initiative.descriptionAr !== "undefined" && initiative.descriptionAr !== "") { %>
                <h4 dir="rtl">الوصف</h4>
                <p dir="rtl"><%- initiative.descriptionAr %></p>
                <br>
                <br>
            <% } %> 

            <% if (typeof initiative.url !== "undefined" && initiative.url !== "") { %> 
                <a dir="rtl" class="attend" href="<%= initiative.url %>" target="_blank">الموقع</a>
            <% } %> 
        </div>
    </div>

    <% if (eduvents.length > 0) { %>
    <div class="edu-vents">
        <% eduvents.forEach(function(eduvent) { %>
            <div>
                <a href="/edu-vents/ar/<%= eduvent._id %>">تعلم المزيد</a>
                <h3><%= eduvent.name %></h3>
                <img src="https://manage.edu-vents.com/uploads/<%= eduvent.imgPath %>">
            </div>
        <% }) %>
    </div>
    <% } %>

    <footer>
        <div>
            <a id="envelope" href="mailto:educational.vents@gmail.com" traget="_blank"><img alt="contact-us"
                    src="/images/envelope.png"></a>
            <a href="https://www.instagram.com/edu_vents/" traget="_blank"><img alt="instagram"
                    src="/images/instagram-logo.png"></a>
            <a href="https://twitter.com/edu_vents" traget="_blank"><img alt="twitter"
                    src="/images/twitter-logo.png"></a>
        </div>
        <h6 onclick="location.href = '/'">
            <span dir="rtl">العربية</span>
            <img alt="lang" src="/images/worlwide.png">
        </h6>
    </footer>
</body>

</html>